// User configuration
// ------------------------------------------------ 
// MQTT broker, eg. "172.20.10.5".
const char mqttBroker[] = "000.000.000.000";
// MQTT port, eg. 1883. 
const int mqttPort = 1883;
// Wifi ssid.
const char wifiSsid[] = "<YOUR WIFI SSID>";
// Wifi password.
const char wifiPass[] = "<YOUR WIFI PASSWORD>";
// ------------------------------------------------ 
